@import "tailwindcss";

@theme inline {
  /* call as varible here */
  --color-santa: var(--santa);
  --color-berryPink: var(--berryPink);
  --color-frostyBlue: var(--frostyBlue);
  --color-blueberry: var(--blueberry);
  --color-mint: var(--mint);
  --color-evergreen: var(--evergreen);
}

@layer base {
  body { @apply text-evergreen antialiased; }

  h1 { @apply text-4xl sm:text-4xl md:text-5xl font-bold leading-tight tracking-tight; }
  h2 { @apply text-3xl sm:text-3xl font-semibold leading-snug; }
  h3 { @apply text-2xl sm:text-2xl font-semibold; }
  p  { @apply text-base sm:text-lg md:text-xl leading-relaxed; }
  small { @apply text-sm leading-normal; }
}

:root {
  /* Color go here  */
  --santa: #ea1938;
  --berryPink: #ff6295;
  --frostyBlue: #49c5fc;
  --blueberry: #0084b5;
  --mint: #46d597;
  --evergreen: #37776c;
}


@media (prefers-color-scheme: dark) {
  :root {}
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Tailwind v3/v4 */
.link-btn {
  @apply inline-flex min-w-60 items-center gap-2 rounded-xl px-4 py-4 text-lg justify-center text-white transition-transform duration-300 ease-in-out hover:scale-110 active:scale-95 focus:outline-none focus:ring-2 focus:ring-offset-2 disabled:opacity-60 disabled:pointer-events-none;
}